# Day 06 â€“ Tuples in Python
---
Learn about tuple data structure in Python: creation, indexing, slicing, membership, and built-in functions.

## What is a Tuple?
A **tuple** is an immutable, ordered collection of items. It is similar to a list but cannot be modified after creation.
- Defined using parentheses `()`
- Can contain mixed data types
- Supports indexing, slicing, and iteration
- Tuples are useful when you want to ensure data remains constant

## Tuple Creation

In [2]:
tup1 = () # Empty tuple
tup2 = (10,30,60) # tuple of integers number
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup4 = ('one', 'two', "three") # tuple of string
tup5 = ('Asif', 25, (50,100),(150,90)) # Nested tuples
tup6 = (100, 'Asif', 25, [50,100],[150,90], {'John', 'David'}, (99,22,33))
len(tup6)

7

In [4]:
print('tup1 :',tup1)
print('tup2 :',tup2)
print('tup3 :',tup3)
print('tup4 :',tup4)
print('tup5 :',tup5)
print('tup6 :',tup6)

tup1 : ()
tup2 : (10, 30, 60)
tup3 : (10.77, 30.66, 60.89)
tup4 : ('one', 'two', 'three')
tup5 : ('Asif', 25, (50, 100), (150, 90))
tup6 : (100, 'Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

## Tuple Indexing

In [5]:
print(tup2[0])
print(tup4[0])
print(tup4[0][0])
print(tup4[-1])
print(tup5[-1])

10
one
o
three
(150, 90)

## Tuple Slicing

In [6]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [7]:
print(mytuple[0:3])

('one', 'two', 'three')

In [8]:
print(mytuple[2:5])

('three', 'four', 'five')

In [9]:
print(mytuple[:3])

('one', 'two', 'three')

In [10]:
print(mytuple[:2])

('one', 'two')

In [11]:
print(mytuple[-3:])

('six', 'seven', 'eight')

In [12]:
print(mytuple[-2:])

('seven', 'eight')

In [13]:
print(mytuple[-1:])

('eight',)

In [14]:
print(mytuple[:])

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove & Change Items

In [15]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [16]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [17]:
mytuple[0]

'one'

In [19]:
del mytuple

NameError: name 'mytuple' is not defined

## Looping Through a Tuple

In [21]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [22]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [23]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Membership

In [ ]:
print('one' in mytuple)
print('ten' in mytuple)

if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present')

if 'eleven' in mytuple:
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present')

## ðŸ”¢ Index Position

In [ ]:
print(mytuple.index('one'))
print(mytuple.index('five'))

## ðŸ“Š Sorting Tuples

In [ ]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)
print(sorted(mytuple2))
print(sorted(mytuple2, reverse=True))