# Day 08 â€“ Dictionaries in Python
---
Learn about dictionaries in Python, including how to create, access, update, delete, and iterate through key-value pairs.

## What is a Dictionary?
A **dictionary** in Python is an unordered, mutable collection of key-value pairs.

**Key Features:**
- Defined using curly braces `{}`
- Keys must be unique and immutable (e.g., strings, numbers, tuples)
- Values can be of any data type
- Supports fast lookup by key

**Use Cases:** storing structured data like JSON, configs, user profiles, etc.

## 1. Create a Dictionary

In [1]:
mydict = dict() # empty dictionary
mydict

{}

In [2]:
mydict = {} # empty dictionary
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [12]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')} 
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [13]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'b': None, 'a': None, 'c': None}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [16]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [17]:
value.append(40) 
mydict3

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

## 2. Accessing Items

In [18]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [19]:
mydict[1] # Access item using key

'one'

In [20]:
mydict.get(1) # Access item using get() method

'one'

In [21]:
mydict1 = {'Name':'Arman' , 'ID': 74123 , 'DOB': 2003 , 'job' :'Analyst'} 
mydict1

{'Name': 'Arman', 'ID': 74123, 'DOB': 2003, 'job': 'Analyst'}

In [22]:
mydict1['Name'] # Access item using key

'Arman'

In [23]:
mydict1.get('job') # Access item using get() method

'Analyst'

## 3. Add, Remove & Change Items

In [24]:
mydict1 = {'Name':'Arman' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'Mumbai'} 
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Address': 'Mumbai'}

In [25]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi' 
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [26]:
dict1 = {'DOB':1995}
mydict1.update(dict1) 
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [27]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Arman',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [28]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [29]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [30]:
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 1995}

In [31]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Arman', 'DOB': 1995}

In [32]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [33]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

## 4. Copy Dictionary

In [35]:
mydict = {'Name':'Arman' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'Mumbai'} 
mydict

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Address': 'Mumbai'}

In [36]:
mydict1 = mydict # Create a new reference "mydict1"

In [37]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2110171527744, 2110171527744)

In [38]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [39]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2110171525312

In [40]:
mydict['Address'] = 'Chennai'

In [41]:
mydict

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Address': 'Chennai'}

In [42]:
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Address': 'Chennai'}

In [43]:
mydict2

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Address': 'Mumbai'}

## 5. Loop through a Dictionary

In [44]:
mydict1 = {'Name':'Arman' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'Mumbai' ,'Job': 'Analyst'} 
mydict1

{'Name': 'Arman',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'Mumbai',
 'Job': 'Analyst'}

In [45]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Arman
ID : 12345
DOB : 2003
Address : Mumbai
Job : Analyst

In [46]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Arman
12345
2003
Mumbai
Analyst

## 6. Dictionary Membership

In [50]:
mydict1 = {'Name':'Arman' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [51]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [52]:
'Arman' in mydict1 # Membership test can be only done for keys.

False

In [53]:
'ID' in mydict1

True

In [54]:
'Address' in mydict1

False

## 7. all() and any() with Dictionaries

In [55]:
mydict1 = {'Name':'Arman' , 'ID': 12345 , 'DOB': 2003 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Arman', 'ID': 12345, 'DOB': 2003, 'Job': 'Analyst'}

In [56]:
all(mydict1) # Will Return false as one value is false (Value 0)

True